only-built-dependencies[]=bigint-buffer
only-built-dependencies[]=bufferutil
only-built-dependencies[]=esbuild
only-built-dependencies[]=sharp
only-built-dependencies[]=unrs-resolver
only-built-dependencies[]=utf-8-validate
